<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <span class="gliphicon glyphicon-picture"></span>
            Instragram Photos
        </a>
    </div>
</nav>
