<body>
    <p>Enter username to like all posts :</p>

    <form method="post" action="/path/user">
        <input type="text" id="username" name="username">  
        <button type="submit">Go</button>
    </form>
    
</body>

